[submodule "third_party/js-color"]
	path = third_party/js-color
	url = https://github.com/mins01/js-color.git
[submodule "third_party/ui-input-stepper"]
	path = third_party/ui-input-stepper
	url = https://github.com/mins01/ui-input-stepper.git
[submodule "third_party/ui_ColorPalette"]
	path = third_party/ui_ColorPalette
	url = https://github.com/mins01/ui_ColorPalette.git
[submodule "third_party/ui-transform-tool"]
	path = third_party/ui-transform-tool
	url = https://github.com/mins01/ui-transform-tool.git
[submodule "third_party/js-templater"]
	path = third_party/js-templater
	url = https://github.com/mins01/js-templater.git
