@charset "utf-8";

.debug-box{
  outline: dashed 1px #f003;
  outline-offset: -1px;
}
.wc-app-wrap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;


  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;

  user-select: none;

  background-color: #00000080;

  z-index: 5;
  touch-action: none;
}
.wc-app, .wc-app * , .modals , .modals *{
  scrollbar-width: thin;
}


.wc-app-body{
  flex: 1 1 auto;;
  touch-action: none;
}



.wc-app-header{
  position: fixed;
  top:0; left:0;right:0;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}

.wc-app-footer{
  position: fixed;
  bottom:0; left:0;right:0;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}
.wc-app-footer button{
  pointer-events:all;
}


/* 상세 */
.wc-app-nav{
  width: max-content;
  border-radius: 0 0 5px 5px;
  background-color: #000000ff;
}
.wc-app-nav > *{
  pointer-events: all;
}

.wc-app-menu{
  /* background-color: #000000; */
}
.wc-app-menu > *{
  pointer-events: all;

}
.wc-app-menu-content{
  background-color: #ffffffff;
  width: max-content;
  max-width: 90vw;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42px, 1fr));
  place-items: center;
}


.wc-app-menu-tools{
  display: none !important;
}
.wc-app.show-wc-app-menu-tools .wc-app-menu-tools
{
  display: block !important;
}






.wc-app-menu-undo{
  width: max-content;
  border-radius: 5px 5px 0 0;
}








.only-shown{display: none;}
.wc-app[data-tool="Brush"] .only-shown-tool-Brush{display: block;}
.wc-app[data-tool="Brush1"] .only-shown-tool-Brush1{display: block;}
.wc-app[data-tool="Brush2"] .only-shown-tool-Brush2{display: block;}
.wc-app[data-tool="Brush3"] .only-shown-tool-Brush3{display: block;}
.wc-app[data-tool="Eraser"] .only-shown-tool-Eraser{display: block;}
.wc-app[data-tool="Move"] .only-shown-tool-Move{display: block;}
.wc-app[data-tool="Hand"] .only-shown-tool-Hand{display: block;}
.wc-app[data-tool="Transform"] .only-shown-tool-Transform{display: block;}
.wc-app[data-tool="Spuit"] .only-shown-tool-Spuit{display: block;}
.wc-app[data-tool="Text"] .only-shown-tool-Text{display: block;}
.wc-app[data-tool="Text"] .only-hidden-tool-Text{display: none;}

body[data-fullscreen="true"] .only-shown-fullscreen-true{display: block;}
body:not([data-fullscreen]) .only-shown-fullscreen-false{display: block;}
body[data-fullscreen="false"] .only-shown-fullscreen-false{display: block;}








.wc-app-body{
  position: relative;
  background-color: #000;
 
}
.wc-editor{
  overflow: hidden;
}
.wc-frame{
  position: absolute;
  /* top: 0;
  left: 0;
  right: 0; 
  bottom: 0; */
  inset: 0px;
  /* overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #333 #eee;
  touch-action: none;
  scrollbar-gutter: stable both-edges;
  */
  overflow: visible;
  background-color: #39f; 
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  grid-template-rows: 100%;
  grid-template-columns: 100%;

  contain: strict;
}

.wc-frame > .wc-document{
  display: block;
  /* margin:100svh 100svw; */
  outline:4px dashed #000;
  background-image: url(bg.gif);

  transform:
    translate( clamp(calc(-50svw - var(--width) * var(--zoom) / 2),calc(var(--left)* var(--zoom)),  calc(50svw + var(--width) * var(--zoom) / 2)) ,  clamp(calc(-50svh - var(--height) * var(--zoom) / 3),calc(var(--top)* var(--zoom)),  calc(50svh + var(--height) * var(--zoom) / 3))  ) 
    rotate(var(--angle))
    scale(var(--zoom)) 
    ;
  /* transform:  scale(var(--zoom))  rotate(var(--angle));     */
  
}


.wc-app .wc-frame{
  cursor: crosshair;
}
.wc-app[data-tool="Move"] .wc-frame{
  cursor: move;
}
.wc-app[data-tool="Hand"] .wc-frame{
  cursor: grab;
}
.wc-app[data-tool="Hand"] .wc-editor[data-pointer-event-type] .wc-frame{
  cursor: grabbing;
}




.wc-app-modal-btns{
  display: flex;
  gap: 4px;
  padding: 4px;
}



/* .wc-app-preview-layers{
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
}
.wc-app-preview-layers .preview-layers{
  display: flex;
  padding:4px; 
  gap: 4px;;
} */


.layer-box{
  user-select: none;
  border:1px solid #eee;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.icons-d-none .icon{display: none;}
.layer-box[data-flip-x="-1"] .icon-flip-x{ display: block;}
.layer-box[data-flip-y="-1"] .icon-flip-y{ display: block;}
.layer-box{
  border-color: transparent;
}
.layer-box.active{
  border:1px solid #999;
  /* border:1px dashed #333; */
  /* background-color: rgba(0,0,0,0.1); */
}
.layer-box-preview{
  padding:0 4px;
}
.layer-box-preview canvas{
  display: block;
  margin:4px auto;
  max-height: 3em;
  max-width: 3em;
  object-fit: contain;
  background-image: url(bg.gif);
  outline: 1px solid #999;
}
.layer-box[data-wc-layer-visible='true'] .on-visible,
.layer-box[data-wc-layer-visible='false'] .no-visible{
  display: block;
}
.layer-box[data-wc-layer-visible='false'] .on-visible,
.layer-box[data-wc-layer-visible='true'] .no-visible{
  display: none;
}
.layer-box-eye{
  font-size: 1.2rem;
  width: 2rem;
  padding:4px;
}

.layer-kind{
  display: none;
}
.layer-box[data-kind="normal"] .layer-kind[data-kind="normal"],
.layer-box[data-kind="text"] .layer-kind[data-kind="text"]{
  display: block;

}







.brush-config{

}
.brush-wrap{
  background-image: url(bg.gif);
  overflow: hidden;
}
/* .brush-wrap > canvas{
  outline: 1px dotted #333;
} */





/* Modals */
.modals , .modals input{
  touch-action: none;
}

.modal:where(#modal-layers,#modal-layer-config,#modal-document-config) > .modal-dialog{
  align-items: flex-end;
}
.modal:where(#modal-layers,#modal-layer-config,#modal-document-config) > .modal-dialog .modal-content{
  /* max-height: 70svh; */
  min-height: 50svh;
  opacity: 0.90;
}
.modal:where(#modal-layers,#modal-layer-config,#modal-document-config){
  /* --bs-modal-bg:rgba(255,255,255,0.8) */
}
@media (min-width: 768px) {
  .modal:where(#modal-layers,#modal-layer-config,#modal-document-config) > .modal-dialog{
    margin-right: 10px;
  }
}



.grid-auto-fill{
  display: grid;
  --minmax:80px;
  grid-template-columns: repeat(auto-fill, minmax(var(--minmax), 1fr));

}
.grid-auto-fill > hr{
  grid-column: 1 / -1;
}
.grid-auto-fill > header{
  grid-column: 1 / -1;
}
.grid-auto-fill-260px{
  --minmax:260px;
}
.grid-auto-fill-80px{
  --minmax:80px;
}




.bg-gif{
  background-image: url(bg.gif);
}



/* img-preview */

#img-preview{
  display: block;
  margin:0 auto;
  outline: 1px solid #999;
  max-width: 100%;
  /* height: 100%; */
  object-fit: contain;
  background-image: url(bg.gif);
}



/* ui-input-stepper */
.btn-stepper{ width: 2.5em;}
.ui-input-stepper.ui-input-stepper-data-value::before, .ui-input-stepper .ui-input-stepper-data-value::before{
  text-shadow: -1px -1px 0 var(--bs-border-color,#666), 1px -1px 0 var(--bs-border-color,#666), -1px 1px 0 var(--bs-border-color,#666), 1px 1px 0 var(--bs-border-color,#666);

}

.wc-app[data-tool-enable="true"] .only-enable-tool-enable,
.wc-app[data-tool-enable="true"] .group-only-enable-tool-enable > *{

}
.wc-app[data-tool-enable="false"] .only-enable-tool-enable,
.wc-app[data-tool-enable="false"] .group-only-enable-tool-enable > *{
  filter: grayscale(0.8);
  pointer-events: none;
}

.wc-app[data-tool-enable="true"] .only-display-tool-enable{

}
.wc-app[data-tool-enable="false"] .only-display-tool-enable{
  display: none;
}








.brush-preview-canvas-wrap{
  height: 150px;
}
.brush-preview-canvas{
  width: 100%;
  height: 100%;
}









.modal-content.brush-config-container{
  height: 100%;
}


.brush-nav-container{

}
.brush-nav-tab{
  display: none;
}
.brush-nav-container[data-brush-tab="brush"] .brush-nav-tab[data-brush-tab="brush"]{
  display: block;
}
.brush-nav-container[data-brush-tab="config"] .brush-nav-tab[data-brush-tab="config"]{
  display: block;
}


.form-eraser-config .brush-composite-operation-wrap{
  display: none;
}











.text-frame{
  /* outline: 1px dashed #abc; */
  width:100%;height: 100%;
}
.text-frame-inner{
  width:100%;height: 100%;
  /* contain: strict; */
}
.text-frame .content{
  width: 100%;
  min-height: 100%;
  height:auto;
  white-space: break-spaces;

  padding: 0px !important;
}
.text-frame .content:focus{
  outline: none;
}