@charset "utf-8";

.debug-box{
  outline: dashed 1px #f003;
  outline-offset: -1px;
}
.wc-app-wrap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;


  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;

  user-select: none;

  background-color: #00000080;

  z-index: 5;
}
.wc-app, .wc-app * , .modals , .modals *{
  scrollbar-width: thin;
}


.wc-app-body{
  flex: 1 1 auto;;
  touch-action: none;
}



.wc-app-header{
  position: fixed;
  top:0; left:0;right:0;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}

.wc-app-footer{
  position: fixed;
  bottom:0; left:0;right:0;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
  
}


/* 상세 */
.wc-app-nav{
  width: max-content;
  border-radius: 0 0 5px 5px;
  background-color: #000000ff;
}
.wc-app-nav > *{
  pointer-events: all;
}

.wc-app-menu{
  /* background-color: #000000; */
}
.wc-app-menu > *{
  pointer-events: all;

}

.wc-app-menu-tools{
  margin-top: 4px;
  background-color: #ffffffff;
  width: max-content;
  border-radius: 5px;
  max-width: 90vw;
}
.wc-app-menu-propeties{
  margin-top: 4px;
  background-color: #ffffeeff;
  width: max-content;
  border-radius: 5px;
  max-width: 90vw;
}

.wc-app-menu-tools , 
.wc-app-menu-propeties{
  display: none !important;
}
.wc-app.show-wc-app-menu-tools .wc-app-menu-tools,
.wc-app.show-wc-app-menu-propeties .wc-app-menu-propeties
{
  display: flex !important;
}






.wc-app-menu-undo{
  width: max-content;
  border-radius: 5px 5px 0 0;
}
.wc-app-menu-undo > *{
  pointer-events: all;
}







.only-shown{display: none;}
.wc-app[data-tool="Brush"] .only-shown-tool-Brush{display: block;}
.wc-app[data-tool="Eraser"] .only-shown-tool-Eraser{display: block;}
.wc-app[data-tool="Move"] .only-shown-tool-Move{display: block;}
.wc-app[data-tool="Hand"] .only-shown-tool-Hand{display: block;}













.wc-app-body{
  position: relative;
  background-color: #000;
 
}
.wc-frame{
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  /* overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #333 #eee;
  touch-action: none;
  scrollbar-gutter: stable both-edges;
  */
  overflow: hidden;
  background-color: #39f; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.wc-frame > .wc-document{
  /* margin:100svh 100svw; */
  outline:4px dashed #000;
  background-image: url(bg.gif);

  transform:
    translate( clamp(calc(-50svw - var(--width) * var(--zoom) / 2),calc(var(--left)* var(--zoom)),  calc(50svw + var(--width) * var(--zoom) / 2)) ,  clamp(calc(-50svh - var(--height) * var(--zoom) / 3),calc(var(--top)* var(--zoom)),  calc(50svh + var(--height) * var(--zoom) / 3))  ) 
    rotate(var(--angle))
    scale(var(--zoom)) 
    ;
  /* transform:  scale(var(--zoom))  rotate(var(--angle));     */
  
}


.wc-app .wc-frame{
  cursor: crosshair;
}
.wc-app[data-tool="Move"] .wc-frame{
  cursor: move;
}
.wc-app[data-tool="Hand"] .wc-frame{
  cursor: grab;
}
.wc-app[data-tool="Hand"] .wc-editor[data-pointer-event-type] .wc-frame{
  cursor: grabbing;
}




.wc-app-modal-btns{
  display: flex;
  gap: 4px;
  padding: 4px;
}



/* .wc-app-preview-layers{
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
}
.wc-app-preview-layers .preview-layers{
  display: flex;
  padding:4px; 
  gap: 4px;;
} */


.layer-box{
  user-select: none;
  border:1px dashed #eee;
}
.layer-box.active{
  border:1px dashed #333;
  background-color: #eee;
}
.layer-box-preview canvas{
  display: block;
  margin:4px;
  max-height: 3em;
  max-width: 3em;
  object-fit: contain;
}
.layer-box[data-wc-layer-visible='true'] .on-visible,
.layer-box[data-wc-layer-visible='false'] .no-visible{
  display: block;
}
.layer-box[data-wc-layer-visible='false'] .on-visible,
.layer-box[data-wc-layer-visible='true'] .no-visible{
  display: none;
}
.layer-box-eye{
  font-size: 1.2rem;
  width: 2rem;
  padding:4px;
}









.brush-config{

}
.brush-config .brush-wrap{
  background-image: url(bg.gif);
  overflow: hidden;
}
.brush-config .brush-wrap > canvas{
  outline: 1px dotted #333;
}





/* Modals */
.modals , .modals input{
  touch-action: none;
}

.modal:where(#modal-layers,#modal-layer-config,#modal-document-config) > .modal-dialog{
  align-items: flex-end;
}
.modal:where(#modal-layers,#modal-layer-config,#modal-document-config) > .modal-dialog .modal-content{
  max-height: 50svh;
}













/* img-preview */

#img-preview{
  display: block;
  margin:0 auto;
  outline: 1px solid #999;
  max-width: 100%;
  /* height: 100%; */
  object-fit: contain;
  background-image: url(bg.gif);
}